<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Portal</title>
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-mortarboard-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z'/%3E%3Cpath d='M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z'/%3E%3C/svg%3E"/>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  </head>

  <body>
    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
      <a class="navbar-brand d-flex align-items-baseline col-lg-2 me-0 px-3 fs-7 text-white" href="#">
        <i class="bi bi-mortarboard-fill" style="font-size: x-large; margin-right: 1.2rem"></i>
        Admin Portal
      </a>

      <ul class="navbar-nav flex-row d-lg-none">
        <li class="nav-item text-nowrap">
          <button
            class="nav-link px-3 text-white bg-dark border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSearch"
            aria-controls="navbarSearch"
            aria-expanded="false"
            aria-label="Toggle search"
          >
            <i class="bi bi-search custom-icon"></i>
          </button>
        </li>
        <li class="nav-item text-nowrap">
          <button
            class="nav-link px-3 text-white bg-dark border-0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="bi bi-list"></i>
          </button>
        </li>
      </ul>

      <ul class="d-lg-flex d-none justify-content-end list-unstyled mt-3 me-3">
        <li class="me-2">
          <a class="user-info text-decoration-none text-white bg-primary px-3 py-1 rounded-pill" href="#">Admin</a>
        </li>
      </ul>


<!-- Search Bar -->
      <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input
          class="form-control w-100 rounded-0 border-0"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR -->
        <div class="sidebar border border-0 col-lg-2 p-0 bg-body-tertiary bg-light">
          <!-- OFF CANVAS HEADER -->
          <div class="offcanvas-lg offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <a class="d-flex align-items-baseline col-lg-2 me-0 px-0 fs-7" style="background-color: transparent; text-decoration: none; color: #000000;" href="#">
                <i class="bi bi-mortarboard-fill me-3" style="font-size: x-large"></i>
                <h5 class="offcanvas-title" id="sidebarMenuLabel">
                  Admin Portal
                </h5>
              </a>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
            </div>

            <!-- SIDEBAR MENU -->
            <div class="offcanvas-body d-lg-flex flex-column p-0 pt-lg-3 mx-2 overflow-y-auto" style="height: 90vh">
              <ul class="nav flex-column mb-auto">
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="dashboard" href="#">
                    <i class="bi bi-house-fill" style="font-size: medium"></i>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="approve" href="{{ url_for('admin_advising') }}">
                    <i class="bi bi-ui-checks" style="font-size: medium"></i>
                    Advising
                  </a>
                </li>
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="student" href="{{ url_for('admin_student_view') }}">
                    <i class="bi bi-people-fill" style="font-size: medium"></i>
                    Student
                  </a>
                </li>
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="faculty" href="{{ url_for('admin_faculty_view') }}">
                    <i class="bi bi-person-vcard-fill" style="font-size: medium"></i>
                    Faculty
                  </a>
                </li>
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="course" href="{{ url_for('admin_course_view') }}">
                    <i class="bi bi-pencil-square" style="font-size: medium"></i>
                    Course
                  </a>
                </li>
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="assign" href="{{ url_for('admin_assign') }}">
                    <i class="bi bi-person-fill-check" style="font-size: medium"></i>
                    Assign
                  </a>
                </li>
                <li class="nav-item my-1">
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="advising" href="{{url_for('admin_course_seat')}}">
                      <i class="bi bi-card-checklist" style="font-size: medium;"></i>
                      Course Seat Status
                  </a>
               </li>                
                <li class="nav-item my-1">
                  <li class="nav-item my-1">
                    <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="payment" href="#">
                      <i class="bi bi-credit-card-fill" style="font-size: medium"></i>
                      Payment
                    </a>
                  </li>
                  <a class="nav-link d-flex align-items-baseline gap-2 rounded-pill" data-menu="reset" href="{{url_for('admin_reset')}}">
                    <i class="bi bi-credit-card-fill" style="font-size: medium"></i>
                    Reset
                  </a>
                </li>
                

                <li class="nav-item"></li>
              </ul>
              <div class="me-2 mb-1">
                <hr />
                <a class="nav-link d-flex align-items-baseline py-2 pe-2 ps-3 gap-2 rounded-pill" data-menu="sign-out" href="{{ url_for('logout') }}">
                  <i class="bi bi-box-arrow-right" style="font-size: medium"></i>
                  Sign Out
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- CONTENT -->
        <main class="ms-sm-auto col-lg-10 px-lg-4">
          {% block content %} {% endblock %}
        </main>
      </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

  </body>
</html>
