{% extends "admin/admin_base.html" %} {% block content %}

<div class="container">
    <ul class="pagination pagination justify-content-center my-3">
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin_faculty_view') }}">
            Table
          </a>
        </li>
        <li class="page-item">
          <a class="page-link active" href="{{ url_for('admin_faculty_details') }}">
            Details
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin_faculty_add') }}">Add</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin_faculty_remove') }}"
            >Remove</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ url_for('admin_faculty_update') }}"
            >Update</a
          >
        </li>
      </ul>
  
    {% if faculty_data==None %}
    <form method="POST" action="{{ url_for('admin_faculty_details') }}">
        <div class="mb-3">
          <label for="faculty_id" class="form-label">Faculty ID:</label>
          <input type="text" class="form-control" name="faculty_id" required />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">View Details</button>
        </div>
      </form>

    {% else %}

    <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Program Information</h2>
        </div>
    
        <div class="container mt-2">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Department:</label>
                <p class="form-control-static bg-light p-2 rounded">
                  {{faculty_data["department"]}}
                </p>
              </div>
            </div>
    

          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Faculty Information</h2>
        </div>

        <div class="container mt-2">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Name:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["name"]}}</p>
              </div>
    
              <div class="mb-3">
                <label class="form-label">ID:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["id"]}}</p>
              </div>

              <div class="mb-3">
                <label class="form-label">Faculty Initials:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["faculty_initials"]}}</p>
              </div>
    
              <div class="mb-3">
                <label class="form-label">Date of Birth:</label>
                <p class="form-control-static bg-light p-2 rounded">
                    {{faculty_data["date_of_birth"]}}
                </p>
              </div>
    
              <div class="mb-3">
                <label class="form-label">Nationality:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["nationality"]}}</p>
              </div>    
            </div>
    
            <!-- Second Column -->
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Gender:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["gender"]}}</p>
              </div>

              <div class="mb-3">
                <label class="form-label">Room Number:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["faculty_initials"]}}</p>
              </div>
    
              <div class="mb-3">
                <label class="form-label">Address:</label>
                <p class="form-control-static bg-light p-2 rounded">
                    {{faculty_data["current_address"]}}
                </p>
              </div>
    
              <div class="mb-3">
                <label class="form-label">Phone Number:</label>
                <p class="form-control-static bg-light p-2 rounded">{{faculty_data["phone_number"]}}</p>
              </div>
    
              <div class="mb-3">
                <label class="form-label">Email</label>
                <p class="form-control-static bg-light p-2 rounded">
                    {{faculty_data["university_email"]}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2>Educational Information</h2>
        </div>
    
        <div class="container mt-2 mb-5">

          {% if qualifications != None %}
          {% for q in qualifications %}
          <h4>{{ q["qualification_type"] }}</h4>
    
          <div class="row">
            <!-- First Column -->
            <div class="col-md-3">
              <div class="mb-3">
                <label class="form-label">Educational Institute:</label>
                <p class="form-control-static bg-light p-2 rounded">{{ q["educational_institute"] }}</p>
              </div>
            </div>
    
            <!-- Second Column -->
            <div class="col-md-3">
              <div class="mb-3">
                <label class="form-label">Passing Year:</label>
                <p class="form-control-static bg-light p-2 rounded">{{ q["passing_year"] }}</p>
              </div>
            </div>
    
            <!-- Third Column -->
            <div class="col-md-3">
              <div class="mb-3">
                <label class="form-label">Cumulative GPA:</label>
                <p class="form-control-static bg-light p-2 rounded">{{ q["cgpa"] }}</p>
              </div>
            </div>
    
            <!-- Fourth Column -->
            <div class="col-md-3">
              <div class="mb-3">
                <label class="form-label">Medium:</label>
                <p class="form-control-static bg-light p-2 rounded">{{ q["medium"] }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% endif %}
    
          
        </div>
      </div>
    {% endif %}

  </div>
  
  <script>
    const sidebarItems = document.querySelectorAll(".nav-link[data-menu]");
    sidebarItems.forEach((sidebarItem) => {
      sidebarItem.classList.remove("active");
    });
  
    var facultyLink = document.querySelector('[data-menu="faculty"]');
    if (facultyLink) {
      facultyLink.classList.add("active");
    }
  </script>

{% endblock %}
